
AutomationProject/obj/Debug/netcoreapp3.1/AutomationProject.pdb
AutomationProject/obj/Debug/netcoreapp3.1/AutomationProject.dll
AutomationProject/bin/Debug/netcoreapp3.1/AutomationProject.pdb
AutomationProject/bin/Debug/netcoreapp3.1/AutomationProject.dll
.vs/AutomationProject/v16/.suo
.vs/AutomationProject/v16/.suo
.vs/AutomationProject/DesignTimeBuild/.dtbcache.v2
.vs/AutomationProject/DesignTimeBuild/.dtbcache.v2
.vs/AutomationProject/v16/.suo
AutomationProject/obj/project.nuget.cache
AutomationProject/obj/AutomationProject.csproj.nuget.dgspec.json
AutomationProject/obj/AutomationProject.csproj.nuget.g.props
AutomationProject/obj/AutomationProject.csproj.nuget.g.targets
AutomationProject/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
AutomationProject/obj/Debug/netcoreapp3.1/AutomationProject.AssemblyInfo.cs
AutomationProject/obj/Debug/netcoreapp3.1/AutomationProject.AssemblyInfoInputs.cache
AutomationProject/obj/Debug/netcoreapp3.1/AutomationProject.assets.cache
AutomationProject/obj/Debug/netcoreapp3.1/AutomationProject.csproj.CoreCompileInputs.cache
AutomationProject/obj/Debug/netcoreapp3.1/AutomationProject.csproj.FileListAbsolute.txt
AutomationProject/obj/Debug/netcoreapp3.1/AutomationProject.csprojAssemblyReference.cache
AutomationProject/obj/Debug/netcoreapp3.1/NUnit.AssemblyHooks.cs
AutomationProject/obj/project.assets.json
.vs/AutomationProject/DesignTimeBuild/.dtbcache.v2
.vs/AutomationProject/v16/.suo
.vs/AutomationProject/DesignTimeBuild/.dtbcache.v2
.vs/AutomationProject/v16/.suo
AutomationProject/bin/Debug/netcoreapp3.1/AutomationProject.deps.json
AutomationProject/bin/Debug/netcoreapp3.1/AutomationProject.exe
AutomationProject/bin/Debug/netcoreapp3.1/AutomationProject.runtimeconfig.dev.json
AutomationProject/bin/Debug/netcoreapp3.1/AutomationProject.runtimeconfig.json
AutomationProject/bin/Debug/netcoreapp3.1/BoDi.dll
AutomationProject/bin/Debug/netcoreapp3.1/chromedriver.exe
AutomationProject/bin/Debug/netcoreapp3.1/Cucumber.Messages.dll
AutomationProject/bin/Debug/netcoreapp3.1/geckodriver.exe
AutomationProject/bin/Debug/netcoreapp3.1/Gherkin.dll
AutomationProject/bin/Debug/netcoreapp3.1/Google.Protobuf.dll
AutomationProject/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
AutomationProject/bin/Debug/netcoreapp3.1/nunit.framework.dll
AutomationProject/bin/Debug/netcoreapp3.1/RestSharp.dll
AutomationProject/bin/Debug/netcoreapp3.1/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
AutomationProject/bin/Debug/netcoreapp3.1/System.Configuration.ConfigurationManager.dll
AutomationProject/bin/Debug/netcoreapp3.1/System.Security.Cryptography.ProtectedData.dll
AutomationProject/bin/Debug/netcoreapp3.1/System.Security.Permissions.dll
AutomationProject/bin/Debug/netcoreapp3.1/TechTalk.SpecFlow.dll
AutomationProject/bin/Debug/netcoreapp3.1/TechTalk.SpecFlow.NUnit.SpecFlowPlugin.dll
AutomationProject/bin/Debug/netcoreapp3.1/Utf8Json.dll
AutomationProject/bin/Debug/netcoreapp3.1/WebDriver.dll
AutomationProject/bin/Debug/netcoreapp3.1/WebDriver.Support.dll
AutomationProject/obj/Debug/netcoreapp3.1/AutomationProject.csproj.CopyComplete
AutomationProject/obj/Debug/netcoreapp3.1/AutomationProject.exe
AutomationProject/obj/Debug/netcoreapp3.1/AutomationProject.genruntimeconfig.cache
