
AutomationProject/obj/Debug/netcoreapp3.1/AutomationProject.pdb
AutomationProject/obj/Debug/netcoreapp3.1/AutomationProject.dll
AutomationProject/bin/Debug/netcoreapp3.1/AutomationProject.pdb
AutomationProject/bin/Debug/netcoreapp3.1/AutomationProject.dll
.vs/AutomationProject/v16/.suo
